@font-face {
    font-family: "Sugarlike";
    src: url("Sugarlike-Bold.otf");
    unicode-range: U+20-7F;
}

canvas {
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    touch-action: none;
}