@font-face {
    font-family: "Irregularis";
    src: url("Irregularis-raa9.ttf");
    unicode-range: U+20-7F;
}

@font-face {
    font-family: "Oliver";
    src: url("Oliver-Regular.otf");
    unicode-range: U+20-7F;
}

canvas {
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}