#drag-1, #drag-2 {
    width: 25%;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
}

html, body {
    height: 100%;
}

#wrapper {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
    height: 100%;
}

.card-area {
    position: relative;
}