@font-face {
    font-family: "Irregularis";
    src: url("Irregularis-raa9.ttf");
    unicode-range: U+20-7F;
}

@font-face {
    font-family: "Oliver";
    src: url("Oliver-Regular.otf");
    unicode-range: U+20-7F;
}

form {
    font-family: Oliver;
    font-size: large;
}

button {
    font-family: Oliver;
    font-size: large;
}