@font-face {
    font-family: "Sugarlike";
    src: url("Sugarlike-Bold.otf");
    unicode-range: U+20-7F;
}

form {
    font-family: Sugarlike;
    font-size: large;
}

button {
    font-family: Sugarlike;
    font-size: large;
}