html, header, body, footer {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    text-shadow: black 0px 0px 3px;
    overflow: hidden;
}

#form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loadingBar {
    position: relative;
    visibility: hidden;
    width: 100%;
}

#status {
    position: absolute;
    right: 0px;
    z-index: 1;
    text-align: right;
}

#credits {
    position: absolute;
    bottom: 0px;
    right: 0px;
    visibility: hidden;
    z-index: 2;
    background-color: #00000080;
}

a {
    color: cyan;
}

#bottomLeft {
    position: absolute;
    cursor: pointer;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

#bottomRight {
    position: absolute;
    cursor: help;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

#hideCredits {
    position: absolute;
    cursor: pointer;
    color: white;
    background-color: red;
    right: 0px;
    top: 0px;
    z-index: 3;
}

#canvas {
    position: absolute;
}